<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>Canvas.playgroundpage</string>
		<string>928F24B6-26F4-4242-B38C-16873955B8A8.playgroundpage</string>
		<string>Create.playgroundpage</string>
		<string>Touch.playgroundpage</string>
		<string>Animate.playgroundpage</string>
		<string>C3E6DFDE-1F05-4E0A-9CB0-1E513A31D4A3.playgroundpage</string>
	</array>
</dict>
</plist>
